.app-container{
  display: flex;
}
.content{
  width: 100%;
}

.sidebar{
  min-height: 800px;
}

.post-card{
  margin: 20px 15px;
}

.hashtag{
  margin: 0px 5px;
}

.reactions{
  margin: 15PX 0 0 0;
}