.app-container{
  display: flex;
}
.content{
  width: 100%;
}

.sidebar{
  min-height: 800px;
}

.post-card{
  margin: 20px 15px;
}

.hashtag{
  margin: 0px 5px;
}

.reactions{
  margin: 15PX 0 0 0;
}

.create-post{
  margin-left: 10%;
  width: 80%;
  margin-top: 50px;
}
.card {
  height: 100%;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center;     /* horizontal center */
  height: 100%;            /* take full container height */
  min-height: 70vh;        /* keep it centered even on small screens */
  text-align: center;
}